body {
  background-color: #f0eedd; 
  color:gray; 
  border-width: 3px;
  border-color:gray;
  border-style:solid;
  border-radius:8%;
  padding: 16px;
  margin: 8px;
}
img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto; /* 画像を中央に配置 */
}
h1 {
  border-radius: 8%;
  font-size: 40px;
  text-align: center;
  background-color: #036936; /* 背景色 */
  color: #e8ecf0; /* 文字色 */
}
h2 {
  font-size: 32px;
  text-align: center;
}
h3 {
  font-size: 24px;  
  text-align: center;
}

